.root {
    background-color: #fafafa;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
    min-height: 100vh;
}