:root {
    --color-background-main: #fff8f0;
    --color-text-primary: #402E32;
    --color-primary: #E0B894;
    --color-secondary: #CA8029;
    --font-primary: 'Montaga', serif;
    --font-secondary: 'Montserrat', sans-serif;
    --header-height: 92px;
}

@media (max-width: 768px) {
    :root {
        --header-height: 140px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
    font-family: var(--font-secondary);
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: 600;
}
